# Environnements virtuels
venv/
env/
*.env
*.pyc
__pycache__/
*.log
.env

# Fichiers système Mac
.DS_Store

# Fichiers de test utilisateur
uploads/
test-rapide.py

# certificats ou des clés
*.pem
*.key
*.crt
*.csr
*.pfx
*.p12
*.jks
*.der
*.srl

# Dossiers système
certbot/
letsencrypt/
etc/
var/
